<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neo.wicryptclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WicryptClone">
        <activity android:name="com.neo.wicryptclone.ui.navactivities.AvailableTokensActivity"></activity>
        <activity android:name="com.neo.wicryptclone.ui.navactivities.WithDrawalsActivity" />
        <activity android:name="com.neo.wicryptclone.ui.navactivities.MyDevicesActivity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity android:name="com.neo.wicryptclone.ui.navactivities.ReferralsActivity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity android:name="com.neo.wicryptclone.ui.navactivities.TransactionsActivity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity android:name=".ui.RouterLoginActivity" />
        <activity android:name=".ui.ShareWCActivity" />
        <activity android:name=".ui.FundWalletActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.LaunchActivity" />
        <activity android:name=".ui.MainActivity"
            android:theme="@style/Theme.WicryptClone.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>